@{
  ViewData["Title"] = "Home Page";
  var userName = Context.Session.GetString("UserName");
  var userAvatar = Context.Session.GetString("UserAvatar");
}

<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="~/css/site.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
  <!------ Include the above in your HEAD tag ---------->
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Dragon Ball</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
              <img src="@userAvatar" alt="@userName" class="rounded-circle" style="width: 30px; height: 30px;">
              @userName
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="@Url.Action("Logout", "Auth")">
                <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Team -->
  <section id="team" class="pb-5">
    <div class="container">
      <h5 class="section-title h1">Guerreros Z</h5>
      <div class="row">
      <!-- Team member -->
      @if (Model != null)
      {
        foreach (var character in Model)
        {
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
              <div class="mainflip flip-0">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p><img class="img-fluid" src="@character["image"]" alt="@character["name"]"></p>
                      <h4 class="card-title">@character["name"]</h4>
                      <p class="card-text">@character["race"]</p>
                      <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">Descripción</h4>
                      <p class="card-text">@character["description"]</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                            <i class="fa fa-facebook"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                            <i class="fa fa-twitter"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                            <i class="fa fa-skype"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                            <i class="fa fa-google"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ./Team member -->
        }
      }
      else
      {
        <div class="alert alert-danger">Intente más tarde</div>
       }
      </div>
    </div>
  </section>
  <!-- Team --> 
</body>
</html>
